.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.delete {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1828/1828778.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 40%;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  opacity: 0.6;
  outline: none;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 48px;
}
